body{
	font-family: 'Open Sans', sans-serif;
}

html{
	font-size: 16px;
}

a{
	&:hover, &:active, &:focus{
		text-decoration: none;
		outline: none;
	}
}

.btn.btn-success{
	padding: 10px;
	transition: all 300ms ease;
	background: $primary-color;
	color: $secondary-color;
	border-radius: 0;
	box-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
	border: none;

	&.back{
		width: 170px;
	}

	&:focus{
		box-shadow: none;
	}

	&:active{
		position: relative;
		left: 1px;
		top: 1px;
	}

	&:hover{
		cursor: pointer;
		background: darken($primary-color, 10%);
		box-shadow: none;
	}
}

.select2-container{
	width: 250px;
}

.select2-container--classic .select2-selection--single{
	background: white;
	border-radius: 0;
	height: 42px;
	display: flex;
	align-items: center;

	.select2-selection__arrow{
		background: $primary-color;
		border-radius: 0;
		height: 41px;
		width: 40px;
		transition: all 300ms ease;

		&:hover{
			background: darken($primary-color, 10%);
		}

		b{
			border-color: #fff transparent transparent transparent;
		}
	}
}

header{
	background-color: $primary-color;
	margin-bottom: 40px;
	padding: 40px;
	padding-top: 40px;
	padding-top: 100px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);

	.container{
		display: flex;
		justify-content: center;

		.logo{

			h1{
				transition: all 300ms ease;
				color: $secondary-color;
				font-weight: 700;
				letter-spacing: -4px;
				text-shadow: 3px 3px 2px rgba(0,0,0,0.3);
			}
		}
	}
}

.tile{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	margin-bottom: 30px;
	background: $primary-color;
	color: $secondary-color;
	height: 120px;
	box-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
	transition: all 300ms ease;

	&:hover{
		cursor: pointer;
		background: darken($primary-color, 10%);
		color: $primary-color;
		box-shadow: none;
	}

	&:active{
		position: relative;
		left: 1px;
		top: 1px;
	}

	span:before{
		font-size: 45px;
	}

	.desc{

	}
}

.window{
	background: #f9f9f9;
	border: 1px solid #ededed;
	border-radius: 3px;
	padding: 30px;
	margin-top: 30px;

	h1{
		font-weight: 700;
		margin-bottom: 10px;
	}

	h2{
		font-size: 18px;
		color: #9e9e9e;
		font-weight: 300;
	}

	.excercise{
		margin-bottom: 1rem;

		&.unfolded, &.new{

			.inner .table-wrapper{
				max-height: 999px;
			}
		}

		&:not(.new){

			.inner{

				.name{

					&:hover{
						cursor: pointer;
						background: lighten($primary-color, 5%);
					}
				}
			}
		}

		.inner{
			border: 1px solid #e9ecef;
			border-radius: 7px 7px 0 0;
			overflow: hidden;

			.name{
				transition: all 300ms ease;
				background: $primary-color;
				color: #fff;
				padding: 10px;
				font-weight: 700;
				border-radius: 5px 5px 0 0;
				margin-bottom: 0;

				input{
					background: $secondary-color;
					border: 1px solid $black;
					color: $black;
					padding-left: 8px;
					font-weight: 400;
				}
			}

			.table-wrapper{
				transition: all 300ms ease;
				max-height: 0;

				.table{
					margin-bottom: 0;

					tr{
						position: relative;

						td.confirm, td.delete, td.edit{
							border-top: none;
						}

						td.confirm, td.delete{
							position: absolute;
							right: 0px;
						}

						td.edit{
							position: absolute;
							right: 50px;
						}

						td.edit, td.delete{
							top: -10px;
						}
					}

					input{
						width: 60px;
					}
				}

				.save-excercise{
					display: flex;
					justify-content: flex-end;
					padding: 7px;
					border-top: 1px solid #e9ecef;

					.btn.btn-success{
						font-weight: 700;
						width: 100%;
						background: #03aa34;
					}
				}
			}
		}
	}
}

.training{
	border: 1px solid #ededed;
	background: $secondary-color;
	padding: 0;
	border-radius: 6px 6px 0 0;
	max-height: 46px;
	oveflow: hidden;
	margin-bottom: 1rem;

	&:last-child{
		margin-bottom: 0;
	}

	&.unfolded{
		max-height: 5000px;

		.excercise{
			display: block;
		}
	}

	.excercise{
		display: none;
	}


	.training-header{
		border: 1px solid #e9ecef;
		border-radius: 7px 7px 0 0;
		overflow: hidden;
		margin-bottom: 1rem;

		&:hover{
			cursor: pointer;
			
			.header-inner{
				background: lighten($primary-color, 5%);
			}
		}

		.header-inner{
			transition: all 300ms ease;
			background: $primary-color;
			color: #fff;
			padding: 10px;
			font-weight: 700;
			border-radius: 5px 5px 0 0;
			margin-bottom: 0;
			display: flex;
			justify-content: space-between;

			p{
				margin-bottom: 0;
			}
		}
	}
}

.charts{

	.excercises{
		margin-top: 1.25rem;
		
		button{
			width: 100%;
			font-weight: 700;
			margin-bottom: 0.625rem;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}