body{
	font-family: 'Open Sans', sans-serif;
}

a{
	&:hover, &:active, &:focus{
		text-decoration: none;
		outline: none;
	}
}

.btn.btn-success{
	padding: 10px;
	transition: all 300ms ease;
	background: $primary-color;
	color: $secondary-color;
	border-radius: 0;
	box-shadow: 2px 2px 2px rgba(0,0,0, 0.3);

	&.back{
		width: 170px;
	}

	&:focus{
		box-shadow: none;
	}

	&:active{
		position: relative;
		left: 1px;
		top: 1px;
	}

	&:hover{
		cursor: pointer;
		background: darken($primary-color, 10%);
		box-shadow: none;
	}
}

.select2-container{
	width: 250px;
}

.select2-container--classic .select2-selection--single{
	background: white;
	border-radius: 0;
	height: 42px;
	display: flex;
	align-items: center;

	.select2-selection__arrow{
		background: $primary-color;
		border-radius: 0;
		height: 41px;
		width: 40px;

		b{
			border-color: #fff transparent transparent transparent;
		}
	}
}

header{
	background-color: $primary-color;
	margin-bottom: 40px;
	padding: 40px;
	padding-top: 40px;
	padding-top: 100px;

	.container{
		display: flex;
		justify-content: center;

		.logo{
			color: $secondary-color;
			font-weight: 700;
			letter-spacing: -4px;
		}
	}
}

.tiles{
	display: flex;
	justify-content: center;

	.tile{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		margin-bottom: 30px;
		background: $primary-color;
		color: $secondary-color;
		height: 120px;
		box-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
		transition: all 300ms ease;

		&:hover{
			cursor: pointer;
			background: darken($primary-color, 10%);
			color: $primary-color;
			box-shadow: none;
		}

		&:active{
			position: relative;
			left: 1px;
			top: 1px;
		}

		span:before{
			font-size: 45px;
		}

		.desc{

		}
	}
}

.window{
	background: #f9f9f9;
	border: 1px solid #ededed;
	border-radius: 3px;
	padding: 30px;
	margin-top: 30px;

	h1{
		margin-bottom: 30px;
	}
}